No template provided ! will use default template
<app-table [data]="employees"></app-table>


<app-table [data]="employees">
  <ng-template #headers>
    <th>First Name</th>
    <th>Last Name</th>
  </ng-template>
</app-table>

<!-- Highly configured template with conditional elements -->
<app-table [data]="inventory">

  <ng-template #headers>
    <th>Item</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </ng-template>

  <ng-template #rows let-row>
        <td>{{ row.name }}</td>
        <td>{{ row.price | currency: row.currency }}</td>
        <td>
          <button *ngIf="row.inStock > 0" (click)="purchaseItem(row.plu)">
            Buy now
          </button>
        </td>
        <td>
          <button>Delete</button>
        </td>
  </ng-template>


</app-table>

<app-test></app-test>